:root{
    --main-color:#FF6565;
    --sec-color:#071629;
    --opacity:0.9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    /* max-width: 1000px; */
    align-items:center ;
    text-align: center;
    align-content: center;
    font-family: 'Source Sans 3', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}

footer{
    position: relative;
    background-color: var(--sec-color);
    padding: 100px;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: row;
    padding: 100px;
}
footer .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px;
}

footer .container .foot{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
footer .container p{
    display: flex;
    position: absolute;
    flex: 100%;
    /* transform: translateY(75px); */
    left: 45%;
    top: 85%;
    text-align: center;
    font-size: 12px;
    color: #565657;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
footer .container section.foot img{
display: flex;
height: 12.5px;
width: 50px;
padding-right: 45em;
}
footer .container section.foot div.social{
    position: absolute;
    left: 50%;

}
footer .container section.foot div.social i{
display: flex;
position: absolute;
justify-content: space-between;
align-items: center;
align-content: center;
}
